TestApp/Connected Services/ServiceReference1/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/styxSignHelper.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/styxSignHelper.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SingStrIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="str_to_sign" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingStrIn" nillable="true" type="tns:SingStrIn" />
  <xs:complexType name="SignStrOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="result" nillable="true" type="tns:SignStrResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignStrOut" nillable="true" type="tns:SignStrOut" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="SignStrResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="cert_sn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="str_to_sign" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignStrResult" nillable="true" type="tns:SignStrResult" />
</xs:schema>