TestApp/Connected Services/ServiceReference1/soap2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64322/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/styxSignHelper.Model" />
  <xs:element name="SignString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/styxSignHelper.Model" minOccurs="0" name="singStrIn" nillable="true" type="q1:SingStrIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/styxSignHelper.Model" minOccurs="0" name="SignStringResult" nillable="true" type="q2:SignStrOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>